<header>
    <div class="logo">
      <a routerLink="/" class="logo">
        <h1 class="home-link">SJ</h1>
      </a>
          </div>
  
    <nav>
      <ul>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/resume" routerLinkActive="active">Resume</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact Me</a></li>
      </ul>
    </nav>
  </header>
  