<header>
    <div class="logo">
      <h1>SJ</h1>
    </div>
  
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/resume" routerLinkActive="active">Resume</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact Me</a></li>
      </ul>
    </nav>
  </header>
  