<footer class="footer">
  <div class="container">
    <div class="content">
      <div>
        <h4>Contact</h4>
        <p>Email: samehjadda@gmail.com</p>
      </div>
      <div>
        <h4>Follow me</h4>
        <a href="https://github.com/samehjadda" target="_blank">GitHub</a>
        <a href="https://linkedin.com/in/yourusername" target="_blank"
          >LinkedIn</a
        >
      </div>
      <div>
        <h4>Navigation</h4>
        <a routerLink="/">Home</a>
        <a routerLink="/about">About</a>
        <a routerLink="/projects">Projects</a>
        <a routerLink="/resume">Resume</a>
        <a routerLink="/contact">Contact</a>
      </div>
    </div>
    <div class="copyright">
      <p>© 2023 Sameh Jadda</p>
    </div>
  </div>
</footer>
