<div class="about-me">
  <h2>About Me</h2>

  <p style="height: 2px">
    Hello, I'm Sameh Jadda - a second-year Software Development student based in
    Mississauga, Ontario. <br /><br />
    My primary interest is in web development, and I love building intuitive,
    user-friendly web applications.
  </p>
  <br />
  <br />

  <h3>Education</h3>
  <p>
    Currently, I'm in my second year at Sheridan College, specializing in
    Software Development and Network Engineering.
  </p>
  <p>
    I've developed a strong foundation in Java, JavaScript, TypeScript, Angular,
    and Node.js through my coursework and personal projects. <br />
    <br />
    As I continue my studies, I'm excited to deepen my knowledge and skills in
    these areas.
  </p>

  <h3>Personal Interests</h3>
  <p>
    When I'm not studying or coding, you can often find me cooking up a storm in
    the kitchen.
    <br />
    <br />
    It's a bit like coding, you start with individual ingredients (or lines of
    code), follow a recipe (or an algorithm), and end up with a dish (or a
    working program).
    <br />
    <br />Also, I'm into design - I appreciate when things look good and
    function well.
    <br />
  </p>
  <br />
  <a routerLink="/resume" class="cta-button">Check Out My Resume!</a>
</div>
