<div class="container">
  <div class="card">
  <div class="card-content">
    <img src="assets/weatherApp.png" alt="Project 1" />
    <div class="container">
      <h2><b>Weather</b></h2>
      <p>This project was made using Angular CLI, weatherapi.com</p>
      <a class="button" href="https://github.com/samehjadda/weatherApp" target="_blank"
        >View on GitHub</a
      >
    </div>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <img src="assets/load.jpg" alt="Project 2" />
    <div class="container">
      <h2><b>Project 2</b></h2>
      <a class="button" href="http://github.com/yourusername/project2" target="_blank"
        >View on GitHub</a
      >
    </div>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <img src="assets/memoji-PhotoRoom-PhotoRoom.png" alt="Project 3" />
    <div class="container">
      <h2><b>Project 3</b></h2>
      <a class="button" href="http://github.com/yourusername/project3" target="_blank"
        >View on GitHub</a
      >
    </div>
  </div>
</div>
</div>

