<div class="container">
  <div class="card">
    <div class="card-content">
      <img src="assets/weatherApp.png" alt="Weather app" />
      <div class="container">
        <h2><b>Weather</b></h2>
        <p>
          This is a simple weather application built with Angular. It fetches
          weather data from the WeatherAPI using an Angular service. The user
          can search for the weather of any city.
        </p>
        <a
          class="button"
          href="https://github.com/samehjadda/weatherApp"
          target="_blank"
          >View on GitHub</a
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img src="assets/project3.png" alt="ToDo list" />
      <div class="container">
        <h2><b>To-Do</b></h2>
        <p>
          This is a simple Todo List application built with Java and Spring
          Boot. It allows you to add, edit, and delete tasks. The tasks are
          stored in an in-memory database and secured by Spring Security.
        </p>
        <a
          class="button"
          href="https://github.com/samehjadda/todo.git"
          target="_blank"
          >View on GitHub</a
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img style="width: 100%" src="assets/project2.png" alt="Market Place" />
      <div class="container">
        <h2><b>Market Place</b></h2>
        <p>
          This project is an online marketplace app that lets users buy and sell
          items. It's built with a microservices structure, split into front and
          back end services each handling their own tasks.
        </p>
        <a
          class="button"
          href="https://github.com/samehjadda/marketplace-frontend.git"
          target="_blank"
          >View on GitHub</a
        >
      </div>
    </div>
  </div>
</div>
