@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  animation: fadeIn 0.5s ease-in-out;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.card {
  width: 24rem;
  height: 36rem;
  overflow: hidden;
  position: relative;
  color: var(--color-primary-white);
  justify-content: center;
}

.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.5s ease-out, transform 0.3s ease-out;
}

.card h2 {
  position: absolute;
  margin: 0;
  bottom: 33px;
  left: 35px;
  transition: bottom 0.3s 0.3s ease-out;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.904);
}

.card p,
.card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}

.card p {
  bottom: 65px;
  left: 30px;
}

.card a {
  bottom: 40px;
  left: 30px;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}
.button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card:hover h2 {
  bottom: 190px;
  left: 30px;
  transition: bottom 0.3s ease-out;
  color: white;
}

.card:hover p,
.card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.card:hover img {
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
  opacity: 0.6;
  transform: scale(1.2, 1.2);
}
