<div class="project-card">
    <img src="https://url-to-project-1-image.com" alt="Project 1">
    <div class="container">
      <h4><b>Project 1</b></h4>
      <a href="http://github.com/yourusername/project1" target="_blank">View on GitHub</a>
    </div>
  </div>
  
  <div class="project-card">
    <img src="https://url-to-project-2-image.com" alt="Project 2">
    <div class="container">
      <h4><b>Project 2</b></h4>
      <a href="http://github.com/yourusername/project2" target="_blank">View on GitHub</a>
    </div>
  </div>
  
  <div class="project-card">
    <img src="https://url-to-project-3-image.com" alt="Project 3">
    <div class="container">
      <h4><b>Project 3</b></h4>
      <a href="http://github.com/yourusername/project3" target="_blank">View on GitHub</a>
    </div>
  </div>
  