@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  body {
    animation: fadeIn 1s ease-in-out;
  }
  form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

form label {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

form textarea {
    min-height: 150px;
    resize: vertical;
}

form input[type="submit"] {
  appearance: none;
  background-color: transparent;
  border: 2px solid #FB2576;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

form input[type="submit"]:disabled {
  pointer-events: none;
}

form input[type="submit"]:hover {
  color: #fff;
  background-color: #FB2576;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

form input[type="submit"]:active {
  box-shadow: none;
  transform: translateY(0);
}