<form
  class="screen-body"
  action="https://formspree.io/f/mgebbedk"
  method="POST"
>
  <div class="screen-body-item left">
    <div class="app-title">
      <span>CONTACT</span>
      <span>Me</span>
    </div>
  </div>
  <div class="screen-body-item">
    <input placeholder="Name" type="text" name="name" required autocomplete="chrome-off" />

    <input placeholder="E-mail" type="email" name="_replyto" required />

    <textarea placeholder="Message" name="message" required data-gramm_editor="false"></textarea>
    <span class="space"></span>

    <input class="send" type="submit" value="Send" />
  </div>
</form>
