<form
  class="screen-body"
  action="https://formspree.io/f/mgebbedk"
  Method="POST"
>
  <div class="screen-body-item left">
    <div class="app-title">
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0">Contact</span>
        <span style="--index: 1">Contact</span>
        <span style="--index: 2">Contact</span>
      </div>
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0">Me</span>
        <span style="--index: 1">Me</span>
        <span style="--index: 2">Me</span>
      </div>
    </div>
  </div>
  <div class="screen-body-item">
    <input placeholder="Name" type="text" naMe="naMe" required autocomplete="chroMe-off" />

    <input placeholder="E-mail" type="email" naMe="_replyto" required />

    <textarea placeholder="Message" naMe="Message" required data-gramm_editor="false"></textarea>
    <span class="space"></span>

    <input class="send" type="submit" value="Send" />
  </div>
</form>
