<div class="resume">
  <h2>Education</h2>
  <div class="date">
  <p>Sheridan College</p>
  <p>Jan '21 – Present</p>
  </div>
  <h4>Advanced Diploma - Software Development and Network Engineering</h4>
  <p>
    Relevant courses: Enterprise Java, Database Design, Computer & Network
    Security
  </p>

  <h2>Experience</h2>
  <div class="date">
  <h3>Sales Representative</h3>
  <p>Nov '21 – Present</p>
</div>
  <h4>TELUS Communications | Mississauga</h4>
  <ul>
    <li>
      Establish strong relationships with clients through effective listening
      and communication, resulting in a 50% increase in returning <br> customers and
      solidifying my reputation as a trusted advisor
    </li>
    <li>
      Achieve consistent, outstanding sales results, consistently meeting and
      exceeding sales value targets by at least 65% each quarter
    </li>
    <li>
      Learned effective sales techniques such as uncovering needs, upselling,
      and cross-selling to deliver meaningful solutions and great <br> experiences to
      walk-in customers increasing sales by 40%
    </li>
    <li>
      Excelled in sales, winning three quarterly incentive programs in 2022 and
      consistently ranking among the top performers in Ontario,<br> placing 4th,
      7th, and 12th among all sales representatives
    </li>
  </ul>
  <div class="date">
  <h3>Real Estate Agent</h3>
  <p>Jun '19 – Jun '20</p>
  </div>
  <h4>Metropolist Real Estate | Istanbul</h4>
  <ul>
    <li>
      Significantly increased traffic on ads by 20% through the development and
      implementation of successful advertising campaigns
    </li>
    <li>
      Increased sales and rents to foreigners by 35% through targeted marketing
      campaigns and building strong relationships with international clients
    </li>
    <li>
      Built and maintained a loyal base of 25+ clients by being approachable,
      learning their needs, and matching them with a variety of different
      options
    </li>
    <li>
      Assisted 75+ clients in finding their dream homes, providing exceptional
      customer service and support throughout the buying and renting process
    </li>
  </ul>

  <h2>Skills</h2>
  <ul>
    <li>
      Familiar with Java and SQL, with experience in Spring Boot framework and
      web development technologies including HTML, CSS, and PHP
    </li>
    <li>
      Participated in group projects that utilized agile development
      methodologies and software design principles
    </li>
    <li>
      Detail-oriented and thrive in fast-paced environments, with the ability to
      handle multiple tasks efficiently and effectively
    </li>
    <li>
      Strong problem-solving and analytical skills, with the ability to
      troubleshoot and resolve technical issues
    </li>
  </ul>
</div>
