@import url("https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98777,98772,98773,98775,98770");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;600&display=swap");
html,
body {
  height: 100%;
  padding: 0;
  flex-direction: column;
  background-color: #000;
  font-family: "Rajdhani", sans-serif;
  color: white;
  max-width: 1200px;
  margin: 0 auto !important;
  float: none !important;
}
a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 20px;
  }

  header .logo {
    margin-bottom: 20px;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

}