@import url('https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98777,98772,98773,98775,98770');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    font-family: 'SF Pro Display', sans-serif;   
     
  }
  
  .content {
    flex: 1 0 auto;
    padding-right: 40px;
  padding-left: 40px;
  }
  
  .footer {
    flex-shrink: 0;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  