<div class="home-container">
  <div class="content">
    <div class="stack" style="--stacks: 3">
      <span style="--index: 0">Hello,<br> I'm Sameh</span>
      <span style="--index: 1">Hello,<br> I'm Sameh</span>
      <span style="--index: 2">Hello,<br> I'm Sameh</span>
    </div>
    <p>
      I'm a software developer with experience in building high-quality web
      applications.
    </p>
    <p>Take a look at some of my work.</p>
    <a routerLink="/projects" class="cta-button">Let's Go</a>
  </div>
  <div class="image">
    <img src="assets/memoji-PhotoRoom-PhotoRoom.png" alt="" />
  </div>
</div>
